* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: green;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar ul {
    display: flex;
    list-style: none;
    /* border: 2px solid red; */
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}

.navbar ul li a:hover {
    transform: translateY(-5px);
}