* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 50vh;
    background-color: aqua;
}

.footer {
    width: 100%;
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer_contact {
    width: 20%;
    border: 2px solid white;
    height: 100%;
}

.footer_company {
    width: 20%;
    border: 2px solid white;
    height: 100%;
}

.footer_about {
    width: 20%;
    border: 2px solid white;
    height: 100%;
}

.footer_support {
    width: 20%;
    border: 2px solid white;
    height: 100%;
}

.footer_contact p {
    text-align: center;
    margin-top: 20px;
}

.footer_contact .tel {
    /* border: 2px solid white; */
    display: block;
    text-align: center;
    margin-top: 20px;
}